<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add Subscriber</title>

	<meta th:replace="fragments/general.html :: head"/>
</head>
<body>
<nav th:replace="fragments/general.html :: nav"></nav>

<section class="content-section">
	<div class="container">
		<a class="font-s" th:href="${overviewUrl}">
			<em class="fas fa-chevron-circle-left"></em> Back
		</a>
	</div>

	<div class="container mb-4">
		<h1>New Subscriber</h1>
	</div>
	<div class="container">
		<form id="wizard" th:data-saveurl="${saveUrl}" th:data-overviewurl="${overviewUrl}">
			<div class="form-row">
				<div class="form-group col-md-2">
					<label for="mcc">MCC</label>
					<input id="mcc" class="form-control" type="number" placeholder="3 numbers" min="100" max="999"
					       value="262" required>
				</div>
				<div class="form-group col-md-2">
					<label for="mnc">MNC</label>
					<input id="mnc" class="form-control" type="number" placeholder="2-3 numbers" min="10" max="999"
					       value="42" required>
				</div>
				<div class="form-group col-md-8">
					<label for="msin">MSIN</label>
					<input id="msin" class="form-control" type="number" placeholder="9-10 numbers"
					       min="1" max="9999999999" required>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="firstName">First name</label>
					<input id="firstName" class="form-control" type="text" placeholder="John">
				</div>
				<div class="form-group col-md-6">
					<label for="lastName">Last name</label>
					<input id="lastName" class="form-control" type="text" placeholder="Doe">
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="terminalId">Terminal</label>
					<select id="terminalId" class="form-control custom-select">
						<option selected disabled>Select...</option>
						<option th:each="terminal : ${terminalList}"
						        th:text="${terminal.getName()}" th:value="${terminal.getId()}"></option>
					</select>
					<small class="form-text text-muted">
						Is a device missing? Add <a th:href="${terminalWizardUrl}">here</a>.
					</small>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="subscriptionId">Subscription</label>
					<select id="subscriptionId" class="form-control custom-select">
						<option selected disabled>Select...</option>
						<option th:each="subscription : ${subscriptionList}"
						        th:text="${subscription.getName()}" th:value="${subscription.getId()}"></option>
					</select>
					<small class="form-text text-muted">
						Is a subscription missing? Add <a th:href="${subscriptionWizardUrl}">here</a>.
					</small>
				</div>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</section>

<div th:replace="fragments/general.html :: errorToast"></div>

<script th:replace="fragments/general.html :: scripts"></script>
<script th:src="@{/assets/js/wizardHelper.js}"></script>
</body>
</html>